
Arduino/Coffe_GCODE/
Python/Stuff/async-serial/
Backup/RPI4_image_alfa.7z
Python/Python_dev/__pycache__
Python/Python_dev/serial_commands/__pycache__
.DS_Store
Python/Python_dev/.DS_Store
Python/.DS_Store
Python/Python_dev/static/.DS_Store
Arduino/New firmware arduino/Новая сжатая ZIP-папка.zip
Arduino/New firmware arduino/AlmaVending_controll_beta (2).zip
Arduino/New firmware arduino/Новая сжатая ZIP-папка.zip
Arduino/New firmware arduino/Новая сжатая ZIP-папка.zip
