{% extends 'head.html' %}

{% block content %}

<section class="hero bye_bg">
    <section class="hero is-fullheight is-transparent">
      <div class="hero-body is-justify-content-center	">
  
        <p class="title title_item_bye">
          Оплата не прошла<br>
        </p>
      </div>
    </section>
    <!-- <img src="{{ url_for('static', filename='bye_bg.png' )}}"> -->
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
    <script type="text/javascript">
  
  
      function Redirect() {
        window.location = "http://127.0.0.1:5000/";
      }
  
      document.write("Таймер на фронте 5 сек.");
      setTimeout('Redirect()', 5000);
  
  
      // var bar = new ProgressBar.Line(container, {
      //   strokeWidth: 4,
      //   easing: 'easeInOut',
      //   duration: 120000,
      //   color: '#FFEA82',
      //   strokeWidth: 1,
      //   trailColor: '#eee',
      //   trailWidth: 1,
      //   svgStyle: { width: '100%', height: '100%' },
      //   from: { color: '#efbe49' },
      //   to: { color: '#bb3800' },
      //   step: (state, bar) => {
      //     bar.path.setAttribute('stroke', state.color);
      //   }
      // });
  
      // bar.animate(1.0);  
    </script>
    {% endblock %}