<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <nav class="navbar is-light">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
          </a>
          <div class="navbar-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">
              На главный экран
            </a>
            <!-- <a class="navbar-item" href="{{ url_for('add_coffe') }}">
             Добавить кофе
            </a> -->
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped is-grouped-right">
                <p class="control">

                  <a class="button is-small" href="{{ url_for('admin') }}">
                    <span class="icon is-small">
                      <i class="fas fa-th-list"></i>                  
                    </span>
                    <span>Админ панель</span>
                  </a>

                </p>
                <p class="control">

                  <a class="button is-small" href="{{ url_for('add_coffe') }}">
                    <span clas="icon is-small">
                      <i class="fas fa-plus-circle"></i>
                    </span>
                    <span>Добавить</span>
                  </a>

                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div class="container is-fluid">
      <!-- <div class="content"> -->
        {% block content %} {% endblock %}
    <!-- </div> -->
    </div>

</body>
</html>
