<!DOCTYPE html>
<html>

<head>
    <title>{{ obj['no_1']['name'] }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ obj['no_1']['name'] }}
                </h1>
                <h2 class="subtitle">
                    {{ obj['no_1']['description'] }}
                </h2>

                <!-- <form method="POST" action="/coffe_3/"> -->

                    <div class="field">
                        <h3>Сахар</h3>

                        <div class="select">
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <h3>Сливки</h3>
                        <div class="control">
                            <label class="radio2">
                                <input type="radio" name="question2">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="question2">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <a href=# id=bye><button class="button is-link" type="submit">Купить</button></a>
                        </div>
                        <div class="control">
                            <a href="{{ url_for('admin') }}"><button class="button is-link is-light">Назад</button></a>
                        </div>
                    </div>

                <!-- </form> -->

            </div>
        </div>
    </section>

</body>

</html>