{% extends 'base.html' %}
 
{% block content %}
<div class="container box mt-5">  
    <form action="{{ url_for('control') }}" method="POST">
        <div class="columns">
            <div class="column">
                <input type="submit" class="button is-fullwidth" name="submit_button" value="Home">
            </div>
            <div class="column">
                <input type="submit" class="button is-fullwidth" name="submit_button" value="Drop cap">
            </div>
            <div class="column">
                <input type="submit" class="button is-fullwidth" name="submit_button" value="Check">
            </div>
            <div class="column">
                <input type="submit" class="button is-fullwidth" name="submit_button" value="Start">
            </div>
            <div class="column">
                <div class="field has-addons"> 
                    <p class="control" style="width:100%">
                        <input class="input" type="text" name="form" placeholder="I1">
                    </p>
                    <p class="control">
                        <input type="submit" class="button" name="submit_button" value="T1">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons"> 
                    <p class="control" style="width:50%">
                        <input class="input" type="text" name="degreed" placeholder="D0">
                    </p>
                    <p class="control" style="width:50%">
                        <input class="input" type="text" name="number" placeholder="N7">
                    </p>
                    <p class="control">
                        <input type="submit" class="button" name="submit_button" value="S0">
                    </p>
                </div>
            </div>
            
            <!-- <div class="column">
                Fourth column
            </div> -->

        </div>
        <div class="columns">
            <div class="column">
                <div class="field has-addons"> 
                    <p class="control" style="width:70%">
                        <input class="input" type="text" name="command" placeholder="All commands">
                    </p>
                    <p class="control" style="width:30%">
                        <input type="submit" class="button is-fullwidth" name="submit_button" value="Send">
                    </p>
                </div>
            </div>
        </div>
        
        




        <!-- <div class="field has-addons"> 
            <p class="control">
                <input class="input" type="text" name="degreed" placeholder="D0">
            </p>
            <p class="control">
                <input class="input" type="text" name="number" placeholder="N7">
            </p>
            <p class="control">
                <input type="submit" class="button" name="submit_button" value="R0">
            </p>
        </div> -->
    </form>


    
</div>
{% endblock %}