{% extends 'base.html' %}

{% block content %}

<form method="post" class="form-contact">
    <p><label>Имя: </label> <input type="text" name="name" value="{{ request.form['name'] or items['name'] }}" requied />

    <p><label>ID: </label> <input type="text" name="id" value="{{ items['id']}}" requied />

    <p><label>Описание:</label><input type="text" name="descriptions" rows=7 cols=40 value="{{ request.form['descriptions'] or items['descriptions'] }}"></textarea>

    <p><label>Короткое описание:</label><input type="text" name="short_description" rows=7 cols=40 value="{{ request.form['short_description'] or items['short_description'] }}"></textarea>

    <p><label>Цена: </label> <input type="text" name="price" value="{{ request.form['price'] or items['price'] }}" requied />

    <p><label>Кол-во капсул: </label> <input type="text" name="value" value="{{ request.form['value'] or items['value'] }}" requied />

    <p><label>G-Code: </label> <input type="text" name="g_code" value="{{ request.form['g_code'] or items['g_code'] }}" requied />

    <p><label>Изображение: </label> <input type="text" name="img_url" value="{{ request.form['img_url'] or items['img_url'] }}" requied />

    <p><label>Cсылка: </label> <input type="text" name="link_url" value="{{ request.form['link_url'] or items['link_url'] }}" requied />

    <p><input type="submit" value="Обновить" />
</form>

</body>

{% endblock %}