<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Almavending App</title>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pressure/2.1.2/pressure.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body class="bg">
    <nav class="navbar is-dark">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo_dark.svg')}}" alt="Bulma: a modern CSS framework based on Flexbox" width="248" height="26">
          </a>
          <div class="navbar-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <a class="button is-small is-dark" href="{{ url_for('admin') }}">
                <span class="icon is-small">
                  <i class="fas fa-th-list"></i>                  
                </span>
                <span>Админ панель</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
      <main id="swup" class="transition-fade">
        {% block content %} {% endblock %}
      </main>
</body>
</html>


