<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
  <div class="columns m-3">
    {% for n in range(0, 5) %}
    <div class="column">
      <a href="{{ coffe[n][8] }}">
        <div class="card">
            <div class="card-image is-align-items-center">
              <h2 class="title is-3 mt-5 has-text-centered">{{ coffe[n][1] }}</h2>
              <figure class="image">
                <img src="{{ url_for('static', filename=coffe[n][7] )}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{ coffe[n][4] }} руб.</p>
                </div>
              </div>
              <div class="content">
                {{ coffe[n][3] }}
              </div>
            </div>
          </div>
       </a>
    </div>
    {% endfor %}
  </div>

  <div class="columns m-3">
    {% for n in range(5, 10) %}
    <div class="column">
      <a href="{{ coffe[n][8] }}">
        <div class="card">
            <div class="card-image is-align-items-center">
              <h2 class="title is-3 mt-5 has-text-centered">{{ coffe[n][1] }}</h2>
              <figure class="image">
                <img src="{{ url_for('static', filename=coffe[n][7] )}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{ coffe[n][4] }} руб.</p>
                </div>
              </div>
              <div class="content">
                {{ coffe[n][3] }}
              </div>
            </div>
          </div>
       </a>
    </div>
    {% endfor %}
  </div>

</body>
</html>