<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body> -->

{% extends 'head.html' %}

{% block content %}
<div class="main_grid">
  {% for n in coffe %}
  <a href="{{ n.link_url }}">
    <div class="card card_bg">

      <div class="card-image">
        <figure class="image">
          <img src="{{ url_for('static', filename=n.img_url )}}" alt="Placeholder image">
        </figure>
        <h2 class="card_title">{{ n.name }}</h2>
      </div>

      <div class="card-content has-text-white">
        <div class="level item mb-0">
          <div class="level-left">
            <p class="level-item item_name">Вкус: <strong></strong></p>
          </div>
          <div class="level-right">
            <p class="level-item">{{ n.flavor }}</p>
          </div>
        </div>
        <div class="level item mb-0">
          <div class="level-left">
            <p class="level-item item_name">Интенсивность: <strong></strong></p>
          </div>
          <div class="level-right">
            <p class="level-item">{{ n.intensity }}</p>
          </div>
        </div>
      </div>
      <hr class="card_line">
      <div class="card-content price">
        <!-- <div class="price"> -->
          {{ n.price }} &#8381; <p class="price_helper"> / 50 мл</p>
        <!-- </div> -->
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}