{% extends 'head.html' %}
{% block content %}
<div class="item_grid">
  <div class="item_form_area">

    <div class="item_value">
      <div class="title">Какую порцию приготовить?</div>
      <div class="item_value_container">

        <input type="radio" id="radiobtn1" name="item" class="input-hidden" value="1" form="data" onchange="check()"
          data="{{ item['price'] }}" checked />
        <label for="radiobtn1">
          <div class="btn_container">
            <img src="{{ url_for('static', filename='radio-1.png' )}}" style="width:369px; border-radius:20px;" />
            <div id="single_price" class="item_value_price">{{ item['price'] }} &#8381; <b class="price_helper"> / 50
                мл</b></div>
          </div>
        </label>

        <input type="radio" id="radiobtn2" name="item" class="input-hidden" value="2" form="data" onchange="check()"
          data="{{ item['price'] }} + {{ item['price'] }}" />
        <label for="radiobtn2">
          <div class="btn_container">
            <img src="{{ url_for('static', filename='radio-2.png' )}}" style="width:369px; border-radius:20px;" />
            <div id="double_price" class="item_value_price" target="name">{{ item['price'] * 2 }} &#8381; <b
                class="price_helper"> / 50 мл</b></div>
          </div>
        </label>
      </div>

    </div>
    <div class="item_stuff">
      <div class="sugar">
        <div class="title">Сахар</div>
        <img src="{{ url_for('static', filename='sugar.png' )}}">
        <div class="item_radio_buttons_container">

          <label class="label_radio">
            <input type="radio" name="sugar" value="0" form="data" checked>
            <div class="radio_bg none">
              <p>Нет</p>
            </div>
            </input>
          </label>

          <label class="label_radio">
            <input type="radio" name="sugar" value="1" form="data">
            <div class="radio_bg num_1">
              <p>1</p>
            </div>
            </input>
          </label>

          <label class="label_radio">
            <input type="radio" name="sugar" value="2" form="data">
            <div class="radio_bg num_2">
              <p>2</p>
            </div>
            </input>
          </label>

        </div>
      </div>
      <div class="cream">
        <div class="title">Сливки<p class="title_cream_price">+{{ cream['price'] }}</p>
        </div>

        <img src="{{ url_for('static', filename='sugar.png' )}}">
        <div class="item_radio_buttons_container">

          <label class="label_radio">
            <input id="cream_none" type="radio" name="cream" form="data" onchange="check()" value="0" checked>
            <div class="radio_bg none">
              <p>Нет</p>
            </div>
            </input>
          </label>

          <label class="label_radio">
            <input id="cream_1" type="radio" name="cream" form="data" onchange="check()" value="1">
            <div class="radio_bg num_1">
              <p>1</p>
            </div>
            </input>
          </label>

          <label class="label_radio">
            <input id="cream_2" type="radio" name="cream" form="data" onchange="check()" value="2">
            <div class="radio_bg num_2">
              <p>2</p>
            </div>
            </input>
          </label>

        </div>
      </div>
      <div class="choco">
        <div class="title">Шоколатье<p class="title_choco_price">+{{ choco['price'] }}</p>
        </div>
        <img src="{{ url_for('static', filename='sugar.png' )}}">
        <div class="item_radio_buttons_container">

          <label class="label_radio">
            <input id="choko_none" type="radio" name="choco" form="data" value="0" onchange="check()" checked>
            <div class="radio_bg none">
              <p>Нет</p>
            </div>
            </input>
          </label>

          <label class="label_radio">
            <input id="choko_1" type="radio" name="choco" form="data" onchange="check()" value="1">
            <div class="radio_bg num_1">
              <p>1</p>
            </div>
            </input>
          </label>

          <label class="label_radio">
            <input id="choko_2" type="radio" name="choco" form="data" onchange="check()" value="2">
            <div class="radio_bg num_2">
              <p>2</p>
            </div>
            </input>
          </label>

        </div>

      </div>
    </div>
  </div>
  <div class="item_content_area">
    <figure class="is-flex is-justify-content-center">
      <img src="{{ url_for('static', filename=item['img_url'] )}}" width="544" height="365">
    </figure>
    <div class="content first">
      <h1 class="item_title">{{ item['name'] }}</h1>
      <p class="item_description">{{ item['descriptions'] }}</p>
    </div>
    <div class="content second">
      <div class="list_info">
        <img src="{{ url_for('static', filename='intansity.png' )}}">
        <div class="level item mb-0">
          <div class="level-left">
            <p class="level-item item_name">Вкус:</p>
          </div>
          <div class="level-right">
            <p class="level-item">{{ item['flavor'] }}</p>
          </div>
        </div>
        <div class="level item mb-0">
          <div class="level-left">
            <p class="level-item item_name">Обжарка:</p>
          </div>
          <div class="level-right">
            <p class="level-item">{{ item['roasting'] }}</p>
          </div>
        </div>
        <div class="level item mb-0">
          <div class="level-left">
            <p class="level-item item_name">Зерна:</p>
          </div>
          <div class="level-right">
            <p class="level-item">{{ item['grain'] }}</p>
          </div>
        </div>
        <div class="level item mb-0">
          <div class="level-left">
            <p class="level-item item_name">Страна:</p>
          </div>
          <div class="level-right">
            <p class="level-item">{{ item['country'] }}</p>
          </div>
        </div>
      </div>
      <div class="item_price">
        К оплате: <p class="item_price_value" id="price" form="data">{{ item['price'] }} &#8381;</p>
      </div>
    </div>
    <button id="myBtn" class="button_bye_item button is-fullwidth" type="submit" form="data">Перейти к оплате</button>


    <!-- Trigger/Open The Modal -->
    <!-- <button id="myBtn">Open Modal</button> -->

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="modal-background"></div>
      <!-- Modal content -->
      <div class="modal-content box">
        <div class="modal_row">
          <img class="img_card fadeInLeft" src="{{ url_for('static', filename=" card.png" )}}">
          <img class="term" src="{{ url_for('static', filename=" terminal.png" )}}" alt="Placeholder image">
        </div>
        <p class="title title_item_bye_modal">
          Пожалуйста, Следуйте<br>инструкции на терминале
        </p>
        <!-- <p class="is-6">Some text in the Modal.</p> -->
      </div>

      <button class="modal-close is-large" aria-label="close">&times;</button>

    </div>


    <!-- CСлужебные тэги -->
    <div style="display:none;">
      <input id="total_price" name="total_price" form="data" type="hidden" value="some data">
      <div id="coffe_id">{{ item['id'] }}</div>
    </div>
    <form name="alm" style="display: none;" id="data" method="POST"></form>
    <!-- action="{{ url_for('showCoffe', id_coffe=item['id']) }}" -->
    <!-- CСлужебные тэги -->

  </div>
</div>

<script defer src="{{ url_for('static', filename='javascript/script.js') }}""></script>

{% endblock %}