<!DOCTYPE html>
<html>

<head>
    <title>Coffe dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <!-- <script type=text/javascript>
        $(function() {
          $('a#bye').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/start_coffe_x',
                function(data) {
              //do nothing
            });
            return false;
          });
    
        });
    </script> -->
</head>

<body>
<form action="/login" method="post" class="form-contact">
<p><label>Имя: </label> <input type="text" name="username" value="" requied />
<p><label>Пароль: </label> <input type="password" name="psw" value="" requied />
<p><input type="submit" value="Войти" />
</form>
</body>