<!DOCTYPE html>
<html>

<head>
    <title>Coffe dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <script type="text/javascript">
         
            function Redirect() {
               window.location="http://127.0.0.1:5000/";
            }
            
            document.write("Таймер на фронте 5 сек.");
            setTimeout('Redirect()', 5000);
        
    </script>
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Страница оплаты
                </h1>
                <h2 class="subtitle">
                    Приложите к пинпаду деньги, карты, стволы
                </h2>

                <!-- <div class="field">
                    <h3>Сахар</h3>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="sugar" id="allot">
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="sugar">
                            No
                        </label>
                    </div>
                </div>

                <div class="field">
                    <h3>Сливки</h3>
                    <div class="control">
                        <label class="radio2">
                            <input type="radio" name="question2">
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="question2">
                            No
                        </label>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <a href=# id=bye><button class="button is-link">Купить</button></a>
                    </div>
                    <div class="control">
                        <a href="/"><button class="button is-link is-light">Назад</button></a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

</body>

</html>